html,
body {
    height: 90%;
    margin: 0;
    background-image: linear-gradient(to right, rgb(71, 89, 255), rgb(182, 228, 243));
}

.box-maps {
    height: 100% !important;
    width: 100% !important;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(84, 86, 87);
}

.box-weather,
.box-data {
    height: 100% !important;
    width: 50% !important;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #abd3de;
    box-shadow: 5px 5px 5px rgb(84, 86, 87);
    padding: 5px;
}

.box-data {
    text-align: center;
}

.container-box {
    width: 90%;
    height: 60%;
    display: flex;
    width: 90%;
    height: 60%;
    margin: 10% 0 0 5%;
}

#info {
    background-color: #f2efe9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    margin-bottom: 2%;
}

#others-info {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#others-info .info,
#main-info .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #f2efe9;
    gap: 10px;
}

#main-info .info {
    margin-bottom: 10px;
    height: 80%;
}

#others-info .info h4 {
    font-size: 2vh;
    font-weight: 600;
}

#others-info .info i {
    text-align: center;
    font-size: 4vh;
    width: 20%;
}

#tempMaxIcon {
    color: rgb(197, 11, 11);
}

#tempMinIcon {
    color: rgb(12, 12, 173);
}

#humidityIcon {
    color: rgb(67, 208, 255);
}

#windIcon {
    color: white;
}

i#locationIcon,
strong {
    display: inline-block;
}

#first-info {
    display: flex;
    align-items: center;
    justify-content: start;
}

.dataCep input {
    pointer-events: none;
    background-color: rgb(207, 204, 204);
    border-radius: 10px;
    border: 1px solid black;
}

.dataCep input {
    border-radius: 10px;
    width: 80%;
}

label {
    display: block;
    font-size: medium;
    font-weight: bold;
}

.input-group {
    align-items: center;
}

input#searchInput {
    margin-left: 5px;
}