html,
body {
    height: 90%;
    margin: 0;
    background-image: linear-gradient(to right, rgb(71, 89, 255), rgb(182, 228, 243));
}

.box-maps {
    height: 100%;
    width: 100%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(84, 86, 87);
}

.box-weather,
.box-data {
    height: 100%;
    width: 50%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #abd3de;
    box-shadow: 5px 5px 5px rgb(84, 86, 87);
    padding: 5px;
}

.box-data {
    text-align: center;
}

.container-box {
    width: 90%;
    height: 60%;
    display: flex;
    width: 90%;
    height: 60%;
    margin: 10% 0 0 5%;
}

#info {
    background-color: #f2efe9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
}

#others-info {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#others-info .info,
#main-info .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 10px;
    gap: 20px;
}

#main-info .info {
    margin-bottom: 5px;
    height: 80%;
}

#others-info .info h4 {
    font-size: 2vh;
    font-weight: 600;
}

#others-info .info i {
    text-align: center;
    font-size: 4vh;
    width: 20%;
}

#tempMaxIcon {
    color: rgb(197, 11, 11);
}

#tempMinIcon {
    color: rgb(12, 12, 173);
}

#tempIcon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

#humidityIcon {
    color: rgb(67, 208, 255);
}

#windIcon {
    color: white;
}

i#locationIcon,
strong {
    display: inline-block;
}

#first-info {
    display: flex;
    align-items: center;
    justify-content: start;
}

.dataCep input {
    pointer-events: none;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    border: 1px solid #f2efe9;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-size: medium;
    font-weight: bold;
}

.input-group {
    align-items: center;
}

input#searchInput {
    margin-left: 5px;
}

.dataCep {
    text-align: start;
}

.info {
    border: 3px solid #f2efe9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#tempDescription {
    font-size: 2vh;
    font-weight: 600;
}

.capitalizar::first-letter {
    text-transform: uppercase;
}

@media(max-width: 900px) {
    .container-box {
        flex-wrap: wrap;
        width: 90%;
        height: 70%;
    }

    .box-weather,
    .box-data {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .input-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        text-align: center;
    }

    button#searchBtn {
        border-radius: 10px;
    }

    #searchInput {
        width: 120px;
        margin-left: 0px !important;
    }

    .container-box {
        margin: 40% 0 0 5%;
    }

}

html,
body {
    height: 100%;
}

@media (max-height: 900px) {
    .container-box {
        height: calc(80vh - 140px);
    }

    .box-weather,
    .box-data {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}